#trackerpane
  #position Pos
  #insert I
  #delete D
  #position_counter 0000
  .up= up
  .down= down
  #play Play
  #stop Stop
  #playlist Plist
  #channel-one 1

  #pattern-length Pattern Length
  .foo 0000
  .up= up
  .down= down
  #pattern Pattern
  #clear Clear
  #preset-editor PSET-ED
  #channel-two 2

  .foo 0000
  .up= up
  .down= down
  #edit Edit
  #edit-op Edit Op.
  #setup Setup
  #channel-three 3

  #finetune
    %ol
      %li Finetune
      %li Sample
      %li Volume
      %li Length
      %li Repeat
      %li Replen
  .foo 0000
  .up= up
  .down= down
  #record Record
  #disk-op Disk Op.
  #sampler Sampler
  #channel-four 4

  .foo 0000
  .up= up
  .down= down
  #quadrascope Quadrascope

  #finetune-foo-container 
    .foo 0000
    .up= up
    .down= down

    .foo 0000
    .up= up
    .down= down

    .foo 0000
    .up= up
    .down= down

    .foo 0000
    .up= up
    .down= down

  #scope-one.scope-container
    .scope-no 1
    .scope-area &nbsp;
  #scope-two.scope-container
    .scope-no 2
    .scope-area &nbsp;
  #scope-three.scope-container
    .scope-no 3
    .scope-area &nbsp;
  #scope-four.scope-container
    .scope-no 4
    .scope-area &nbsp;
  .scope-no &nbsp;

  #about 
    cloudtracker 

  #songname
    #song-number
    %span.label Songname:

  #samplename
    %span.label Samplename:

  #load Load

  #status-and-boxes
    #status-bar
      #some-numbers 
        %span 00
      #tempo
        #number 125
        #control
          #control-up &#x25B2;
          %span.label Tempo
          #control-down &#x25BC;
      #status-label Status:
      #status
      #whatever
        .whatever
          %span.label Tune
          %span.counter 304558
        .whatever
          %span.label Free
          %span.counter 624358
    #boxes
      #box-one.box.small 00
      #box-two.box.normal F#3 8F02
      #box-three.box.normal F#3 8F02
      #box-four.box.normal F#3 8F02
      #box-five.box.normal F#3 8F02

%label 
  Load MOD File
  %input{:id => 'modfile', :type => 'file'}

#debug-out

#cursor
