#trackerpane(data-url="#{mod_path(@mod, format: :json)}")
  #position Pos
  #insert I
  #delete D
  #position_counter 0000
  .up.position= up
  .down.position= down
  #play Play
  #stop Stop
  #playlist Plist
  #channel-one 1

  #pattern_length Pattern Length
  #pattern_in_pos.foo 0000
  .up.pattern_in_pos= up
  .down.pattern_in_pos= down
  #pattern Pattern
  #clear Clear
  #preset-editor PSET-ED
  #channel-two 2

  #num_patterns 0000
  .up.num_patterns= up
  .down.num_patterns= down
  #edit Edit
  #edit-op Edit Op.
  #setup Setup
  #channel-three 3

  #sample_data
    %ol
      %li Finetune
      %li Sample
      %li Volume
      %li Length
      %li Repeat
      %li Replen
  #sample_finetune.foo 0000
  .up= up
  .down= down
  #record Record
  #disk-op Save
  #sampler Sampler
  #channel-four 4

  #sample_number.foo 0000
  .up= up
  .down= down
  #quadrascope Quadrascope

  #finetune-foo-container 
    #sample_volume.foo 0000
    .up= up
    .down= down

    #sample_length.foo 0000
    .up= up
    .down= down

    #sample_repeat.foo 0000
    .up= up
    .down= down

    #sample_replen.foo 0000
    .up= up
    .down= down

  #scope-one.scope-container
    .scope-no 1
    .scope-area &nbsp;
  #scope-two.scope-container
    .scope-no 2
    .scope-area &nbsp;
  #scope-three.scope-container
    .scope-no 3
    .scope-area &nbsp;
  #scope-four.scope-container
    .scope-no 4
    .scope-area &nbsp;
  .scope-no &nbsp;

  #about
    cloudtracker

  #songname
    %span#song-number
    %span.label Songname:
    %span#name Banana Split________
    %span#length 00:00


  #samplename-container
    %span.label Samplename:
    %span#samplename

  #load Load

  #status-and-boxes
    #status-bar
      #current_pattern
        %span 00
      #tempo
        #bpm 125
        #control
          #control-up &#x25B2;
          %span.label Tempo
          #control-down &#x25BC;
      #status-label Status:
      #status
      #whatever
        .whatever
          %span.label Tune
          %span.counter 304558
        .whatever
          %span.label Free
          %span.counter 624358
    #boxes-and-tracker
      #boxes
        #box-one.box.small
        #box-two.box.normal
        #box-three.box.normal
        #box-four.box.normal
        #box-five.box.normal

%label
  Load MOD File
  %input{:id => 'modfile', :type => 'file'}

#debug-out

#cursor
