!!!5
%head
  %meta{:charset => 'utf-8'}
  = csrf_meta_tags
  %title CloudTracker 2.0
  = javascript_include_tag "application"
  = stylesheet_link_tag "application"
  %script{:type => "text/x-javascript-template", :id => "tracker-cell"}
    %span.note {{note_text}}{{hiNyb sample}}{{loNyb sample}}{{loNyb command}}{{hiNyb command_params}}{{loNyb command_params}}
  = yield :head
%body
  = yield
  